#topHeader{
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: lightgray;
}

#topHeader .logo{
    height: 3rem;
}

#topHeader .callLogo{
    height: 1.2rem;
    width: 15rem;
    background-color: lightsteelblue;
    color: black;
    text-align:center;
    font-size: 14px;
    position:absolute;
    display:none;
    right: 50%;
    top: 1.5rem;
}

#topHeader .dashboard-link {
    color: black;
    font-size: 14px;
    position:absolute;
    right: 25%;
    top: 1.5rem;
    border-bottom: 3px solid;
    padding-bottom: 1.4rem;
    border-color:darkblue;
    display:none;
}

#topHeader .new-call-link {
    color: gray;
    font-size: 14px;
    position:absolute;
    right: 20%;
    top: 1.5rem;
    display:none;
}

#welcomeBody {
    padding-top: 3rem;
    position: absolute;
    right: 40%;
}

#welcomeBody .callBox {
    height: 10rem;
    width: 20rem;
    background-color: RoyalBlue;
    border: 1px solid;
    box-shadow: 0 3px darkgray;
    font-size:30px;
    color: white;
    text-align:center;
    display: table-cell;
    vertical-align: middle;

}

#welcomeBody .callBox:hover{
    background-color: blue;
}

#welcomeBody a{
    text-decoration: none;
}

#callBody{
    display:none;
}

#dashboardBody {
    padding-top: 3rem;
    right: 50%;
    position: absolute;
}

th{
    text-align: center;
    border-bottom: 1px solid;
}


td {
    text-align:right;
}

th, td {
    width: 6rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

