#topHeader{
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: lightgray;
}

#topHeader .logo{
    height: 3rem;
}

#topHeader .callLogo{
    height: 1.2rem;
    width: 15rem;
    background-color: #DDEBF7;
    color: black;
    text-align:center;
    right: 50%;
}

#topHeader .dashboard-link {
    color: black;
    right: 25%;
    border-bottom: 3px solid #4472C4;
    padding-bottom: 1.4rem;
}

#topHeader .new-call-link {
    color: gray;
    right: 20%;
}

.new-call-link, .dashboard-link, .callLogo {
    top: 1.5rem;
    font-size: 14px;
    position:absolute;
}

#welcomeBody {
    padding-top: 3rem;
    position: absolute;
    right: 40%;
}

#welcomeBody .callBox {
    height: 10rem;
    width: 20rem;
    background-color: #4472C4;
     box-shadow: 0 8px 7px -7px black;
    font-size:30px;
    color: white;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;

}

#welcomeBody .callBox:hover{
    background-color: blue;
}

#welcomeBody a{
    text-decoration: none;
}

.dashboard-body {
    padding-top: 3rem;
    right: 30%;
    position: absolute;
}

th{
    text-align: center;
    border-bottom: 1px solid;
}


td {
    text-align:right;
}

th, td {
    width: 8rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.submit-form-fields{
    margin: auto;
    left: 2%;
    width: 500px;
    padding-top: 4rem;
    position: absolute;
    /*display:none;*/
}
.submit-form-fields label, .submit-form-fields input {
    font-size: 12px;
    float: left;
    color: black;
    position: relative;
    display: inline-block;
}
.submit-form-fields input {
    width: 50%;
    border: 1px solid gray;
}

.submit-form-fields label {
    font-weight: bold;
    width: 40%;
    text-align: right;
    padding-right: 10px;
}

.submit-form-fields input::placeholder{
    color:black;
    text-align: left;
}

input#date::placeholder, input#capital::placeholder  {
     text-align: right;
}

input#calculate, .confirm-button  {
    top: 4rem;
    left: 10rem;
    color: white;
    background-color: #0070C0;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.submit-form-fields .section{
    height: 2rem;
}

input#currency {
    width:5%;
    border-right:none;
}

input#capital{
    width: 45%;
    border-left:none;
    text-align: right;

}

input#calculate:hover, input#confirm:hover {
    background-color:blue;
}

.commitment-table {
    width: 40%;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 2%;
}

.commitment-table th{
    font-weight: unset;
    border-bottom: 1px solid gray;
    font-size: 12px;
    width: 200px;
    padding-left: 40px;
    vertical-align: bottom;
}

.commitment-table td{
    font-size: 12px;
}

.red-background{
    background-color:#FCE4D6;
}

table#notice {
    left: 40%;
    width: 400px;
    position: absolute;
    top: 25rem;
}

.confirm-button {
    top: 35rem;
    width: 32rem;
    height: 2em;
    left: 35%;
    position: absolute;
}